<extend name="Base/base" />
<block name="content">
	
	<div class="data-table employee">
		<div class="main-title">
		<h2>员工管理</h2>
		</div>
		<table class="employee-table">
			<thead>
				<tr>
					<th class="">ID</th>
					<th class="">用户名</th>
					<th class="">真实姓名</th>
					<th class="">员工号</th>
					<th class="">身份证号</th>
					<th class="">家庭住址</th>
					<th class="">职位</th>
					<th class="">操作</th>
				</tr>
			</thead>
			<tbody >
				<foreach name="user" item="v">
					<tr>
						<td >{$v.id}</td>
						<td>{$v.username}</td>
						<td>{$v.realname}</td>
						<td>{$v.workid}</td>
						<td>{$v.idcardnum}</td>
						<td>{$v.address}</td>
						<td>{$v.position}</td>
						<td name={$id=$v.id}>
							<a onclick="editEmployee('{$v.id}','{$v.username}','{$v.realname}','{$v.workid}','{$v.idcardnum}','{$v.address}','{$v.position}')">修改</a> |
							<a onclick="delEmployee('{$v.id}')">删除</a> 
						</td>
					</tr>
				</foreach>
			</tbody>
		</table>
		<!--员工修改div-->
		<div class="modal-content edit-employee" id="edit-employee">
			<input id="id" style="display: none;"/>
			<div class="form-item">
				<label class="item-label">用户名<span class="check-tips">（用户名会作为默认的昵称）</span></label>
				<div class="controls">
					<input type="text" id="username" class="text input-large" name="UserName" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">密码<span class="check-tips">（用户密码不能少于6位）</span></label>
				<div class="controls">
					<input type="password" id="password" class="text input-large" name="Password" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">真实姓名<span class="check-tips"></span></label>
				<div class="controls">
					<input type="text" id="realname" class="text input-large" name="RealName" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">员工编号<span class="check-tips">（可以为空）</span></label>
				<div class="controls">
					<input type="text" id="workid" class="text input-large" name="WorkId" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">身份证号码<span class="check-tips"></span></label>
				<div class="controls">
					<input type="text" id="idcardnum" class="text input-large" name="IdCardNum" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">家庭住址<span class="check-tips">(XX省XX市)</span></label>
				<div class="controls">
					<input type="text" id="address" class="text input-large" name="Address" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">职位<span class="check-tips"></span></label>
				<div class="controls">
					<select name="Position" id="position" style="height: 25px;">
						<foreach name="Position" item="v">
							<option value="{$v.id}">{$v.position}</option>
						</foreach>
					</select>
				</div>
			</div>
			<div class="form-item">
				<button class="hallbtn submit-btn" type="submit" onclick="editsubmit()" >确 定</button>
				<button class="hallbtn submit-btn" onclick="divreturn()">取消</button>
			</div>
		
		</div>
	</div>
	<!--新增员工div-->
	<div class="add-employee" id="add-employee">
		<div class="main-title">
		<h3 style="margin:0px auto 10px 50px">添加员工</h3>
		</div>
		<form action="AddEmployee" method="post" class="form-horizontal">
			<div class="form-item">
				<label class="item-label">用户名<span class="check-tips">（用户名会作为默认的昵称）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="UserName" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">密码<span class="check-tips">（用户密码不能少于6位）</span></label>
				<div class="controls">
					<input type="password" class="text input-large" name="Password" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">真实姓名<span class="check-tips"></span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="RealName" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">员工编号<span class="check-tips">（可以为空）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="WorkId" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">身份证号码<span class="check-tips"></span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="IdCardNum" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">家庭住址<span class="check-tips">(XX省XX市)</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="Address" value="">
				</div>
			</div>
			<div class="form-item">
				<label class="item-label">职位<span class="check-tips"></span></label>
				<div class="controls">
					<select name="Position" style="height: 25px;">
						<foreach name="Position" item="v">
							<option value="{$v.id}">{$v.position}</option>
						</foreach>
					</select>
				</div>
			</div>
			<div class="form-item">
				<button class="hallbtn submit-btn" type="submit" >确 定</button>
				<button class="hallbtn btn-return" type="reset">重置</button>
			</div>
		</form>
	</div>
	<script>
		function editEmployee(id,username,realname,workid,idcardnum,address,positions){
			document.getElementById('edit-employee').style.display="block";
			document.getElementById('id').value=id;
			document.getElementById('username').value=username;
			document.getElementById('realname').value=realname;
			document.getElementById('workid').value=workid;
			document.getElementById('idcardnum').value=idcardnum;
			document.getElementById('address').value=address;
			document.getElementById('position').value=positions;
//			var id=document.getElementById('id').value;
			console.log(id);
//			alert(data);
		}
		function delEmployee(id){
			console.log(id);
			var message=confirm("确定删除该用户？");
			var employee_id=id;
			if(message==true){
				$.ajax({
					type:"post",
					dataType:"json",
					url:"delemployee",
					data:{
						employee_id: employee_id
					},
					success: function(data) {
						alert("删除成功");
						window.location.reload();
					}
				});
			}
		}
		
		function editsubmit(){
			var id=document.getElementById('id').innerHTML;
			var username=document.getElementById('username').value;
			var psword=document.getElementById('password').value;
			var realname=document.getElementById('realname').value;
			var Workid=document.getElementById('workid').value;
			var idcardnum=document.getElementById('idcardnum').value;
			var address=document.getElementById('address').value;
			var positions=document.getElementById('position').value;
			console.log(id);
			console.log(username);
			console.log(psword);
			console.log(realname);
			console.log(Workid);
			console.log(idcardnum);
			console.log(address);
			console.log(positions);
			$.ajax({
				type:"post",
				dataType: "json",
				url: "editemployee",
				data: {
					id: id,
					username: username,
					psword: psword,
					realname: realname,
					Workid: Workid,
					idcardnum: idcardnum,
					address: address,
					positions: positions
				},
				success: function(data) {
					alert("修改成功");
					window.location.reload();
				},
				error: function(){
					alert("修改失败");
				}
			});
		}
		function divreturn(){
			document.getElementById('edit-employee').style.display="none";
		}
	</script>
</block>